body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #434343;
  background: linear-gradient(to right, #434343, #000000);
  color: white;
}

.u-NoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.PageContent {
  min-height: 100vh;
  margin-bottom: -75px;
}

.PageContent::after {
  content: "";
  display: block;
}

.Section {
  padding: 24px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.Section--Vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.SiteHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px 0px;
  border-bottom: 1px solid white;
  background-color: #020024;
  background: linear-gradient(
    75deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 105, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}

.SiteHeader__NavigationList {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
}

.Link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}

.Link:hover {
  color: rgb(255, 179, 39);
}
