*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  pointer-events: none;
}

p {
  margin: 0;
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #434343;
  background: linear-gradient(to right, #434343, #000000);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.u-NoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  user-select: none;
}

.Button--Selection {
  color: white;
  background-color: rgb(54, 54, 255);
  padding: 16px 16px;
  border-radius: 16px;
}

.Button--ProjectCard {
  font-family: monospace;
  padding: 8px;
  color: rgb(133, 133, 133);
  background-color: rgba(0, 82, 150, 0.589);
}

.Button--Selection:hover {
  background-color: rgb(0, 0, 247);
}

.MainContent {
  padding: 16px 24px;
}

.Section {
  padding: 24px 48px;
  max-width: 1200px;
}

.Section--Vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.SiteHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 72px;
  position: sticky;
  top: 0;
  padding: 16px 0px;
  border-bottom: 1px solid white;
  background-color: #020024;
  background: linear-gradient(
    75deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 105, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}

.SiteHeader__Logo {
  display: flex;
  align-items: center;
}

.SiteHeader__LogoImage {
  height: 56px;
}

.SiteHeader__NavigationList {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.NavigationList__Item {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  padding: 4px 4px;
}

.NavigationList__Item--Active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.NavigationList__Item:hover {
  color: rgb(255, 179, 39);
}

.MainContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Selection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Selection__Grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 16px;
}

.SelectionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.SelectionCard__Image {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid white;
}

.SelectionCard__ImageInner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProjectsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 16px;
}

.Presentation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}
