:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;

  --border-width: 1px;
  --border-radius: 16px;
  --border-style: solid;
  --border-color: rgb(218, 218, 218);

  --color-dark: rgb(26, 26, 26);
  --color-light: rgb(223, 223, 223);
  --color-highlight: rgb(124, 124, 124);

  --button-color-primary: rgb(187, 187, 187);
  --button-color-secondary: rgb(46, 46, 46);
}
